
  <h2>Découvrez mes travaux</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam dignissimos dicta corporis aperiam ab ipsam libero ratione, ad dolorum earum inventore ut facilis voluptate impedit fugit velit magnam vitae adipisci.</p>
  
  <figure>
      <img src="src/app/img/panda1.jpg" alt="Projet 1">
      <figcaption><span>Projet 1</span> <button>Afficher les détails</button></figcaption>
  </figure>
  
  <figure>
      <img src="src/app/img/panda2.jpeg" alt="Projet 2">
      <figcaption><span>Projet 2</span> <button>Afficher les détails</button></figcaption>
  </figure>
  
  <figure>
      <img src="src/app/img/panda3.jpg" alt="Projet 3">
      <figcaption><span>Projet 3</span><button>Afficher les détails</button></figcaption>
  </figure>
  
  <figure>
      <img src="src/app/img/panda4.jpeg" alt="Projet 4">
      <figcaption><span>Projet 4</span><button>Afficher les détails</button></figcaption>
  </figure>
  
  <figure>
      <img src="src/app/img/panda5.jpg" alt="Projet 5">
      <figcaption><span>Projet 5</span> <button>Afficher les détails</button></figcaption>
  </figure>
  
  <figure>
      <img src="src/app/img/panda6.jpeg" alt="Projet 6">
      <figcaption><span>Projet 6</span> <button>Afficher les détails</button></figcaption>
  </figure>

  <!--Modal-->

  <section id="modal">
      <article>
          <h2> <span>Projet 1</span> <i class="fa fa-times"></i></h2>
          <img src="src/app/img/panda1.jpg" alt="Projet 1">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis consectetur quas fuga perspiciatis odio magnam ad alias vitae, incidunt dolore ipsam impedit! Dolore veniam blanditiis, nobis modi accusantium porro odit.</p>
      </article>

  </section>
