<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>A propos de Sakina Tzimas</title>

</head>

<body>

    <h2>A propos</h2>
    <img src="img/profil.jpg" alt="photo de profil">

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus at laudantium obcaecati, expedita sint error sequi inventore voluptatibus quisquam placeat tempore, magni consequatur, ratione magnam debitis! Consequatur commodi magnam eum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos reiciendis reprehenderit, asperiores eveniet, eius dicta facilis voluptates consequuntur aliquid omnis perspiciatis voluptatem incidunt maxime quod voluptas. Esse aut, velit asperiores.</p>

    <h3>Mes compétences </h3>

    <ul>
        <li>
            <p><span>HTML: 84%</span></p>
        </li>
   
        <li>
            <p><span>CSS: 55%</span></p>
        </li>
 
        <li>
            <p><span>JavaScript: 10%</span></p>
        </li>
    </ul>

    <p>N'hésitez pas à me contacter en cliquant <a href="#">sur ce lien</a> </p>
    
</body>
</html>