<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>Page d'acceuil</title>

    </head>

    <body>

        <h2>Bienvenue sur mon site</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, dignissimos rem enim praesentium dicta odit molestias, earum modi laborum labore natus eius laboriosam quam placeat suscipit repudiandae esse quibusdam sapiente. Lorem ipsum dolor sit amet, consectetur adipisicing elit. At tempora autem porro molestias, ducimus excepturi atque explicabo, dignissimos itaque ut dolorum quod consectetur ab id. Deserunt nulla, aliquam voluptates excepturi.</p>
        
    </body>
    
</html>