@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700|Neuton:400,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/*
Style Reset
*/

*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.5rem;
    font-family:'Alegreya Sans', sans-serif;
    font-weight: 400;
    text-align: center;
     
}

main,h1, nav{
    max-width: 85rem;
    margin: auto;
    position: relative;
}

h1, h2{
    font-family:'Neuton', serif;
    font-weight: 700;
}

h2{
    color: cadetblue;
}

h2::after{
    content: '';
    display: block;
    width: 5rem;
    height: .2rem;
    margin: 2rem auto 2rem auto;
    border-bottom:.2rem solid #0f5f62;
}

h3{
    font-family:'Neuton', serif;
    font-weight: 400;
    color: #0f5f62;
    margin-bottom: 1rem;
}

a{
    text-decoration: none;
    color: #0f5f62;
}

/*
Style Header
*/


.toggleBurger{
    display: block;

}

header, footer{
    color:white;
    background: cadetblue;
    padding: 2rem;
    margin-bottom: 4rem;
    position: relative;
}
header{
    border-bottom:.15rem solid #0f5f62; 
}

h1 span{
    font-family:'Neuton', serif;
    font-weight: 700;
    font-size: .5em;
    display: block; 
    margin-bottom: 2rem;
}

nav ul{
    height: 0;
    overflow: hidden;

    -webkit-transition: all 1.5s;
    transition: all 1.5s;
}

.toggleBurger{
    height: 8.3rem;
}

.fa-bars{
    color: #0f5f62;
    background: white;
    border: .15rem solid #0f5f62;
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 50%;
    bottom:0;
    cursor: pointer;
    font-size: 1.6rem;
    padding-top: .5rem;

    
    -webkit-border-radius: 50%;
    border-radius: 50%;

    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 119%);

}

nav li{
    background: rgba(255, 255, 255, .5);
    padding: .5rem 1rem;
    margin-bottom: .5rem;
    list-style: none;

    -webkit-transition: all .5s;
    transition: all .5s;
    
}

.active{
    background:#0f5f62;
    font-weight: 700;
}

.active a {
    color: white;
}

/*
Style FOOTER
*/

footer{
    position: fixed;
    bottom:0;
    left: 0;
    width: 100%;
    margin-bottom: 0;

    border-top:.15rem solid #0f5f62; 
}

/*
Requête @media
*/

@media screen and (min-width: 850px){

    /*Style header*/
    header{
        text-align: left;
    }

    .fa-bars{
        display: none;
    }

    nav ul{
        height: auto;
        position: absolute;
        right: 0;
        bottom: 2rem;   
    }

    nav li{
        
        display: inline-block;
    }

    nav li:not(:last-child){
        margin-right: 1rem;
    }
} 