ul{
    
    position: relative;
    max-width: 85rem;
    margin: auto;
    text-align: center;
}

nav{
    background: mistyrose;
}

main{
    max-width: 85rem;
    margin: auto;
}

li{
    display: inline-block;
    

}

li:first-child{
    position: absolute;
    left: 2rem;
}