<!DOCTYPE html>
<html lang="fr">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Page Portfolio</title>
        
    </head>
    <body>

        <h2>Découvrez mes travaux</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam dignissimos dicta corporis aperiam ab ipsam libero ratione, ad dolorum earum inventore ut facilis voluptate impedit fugit velit magnam vitae adipisci.</p>
        
        <figure>
            <img src="img/panda1.jpg" alt="Projet 1">
            <figcaption>Projet 1 <button>Afficher les détails</button></figcaption>
        </figure>
        
        <figure>
            <img src="img/panda2.jpeg" alt="Projet 2">
            <figcaption>Projet 2 <button>Afficher les détails</button></figcaption>
        </figure>
        
        <figure>
            <img src="img/panda3.jpg" alt="Projet 3">
            <figcaption>Projet 3 <button>Afficher les détails</button></figcaption>
        </figure>
        
        <figure>
            <img src="img/panda4.jpeg" alt="Projet 4">
            <figcaption>Projet 4 <button>Afficher les détails</button></figcaption>
        </figure>
        
        <figure>
            <img src="img/panda5.jpg" alt="Projet 5">
            <figcaption>Projet 5 <button>Afficher les détails</button></figcaption>
        </figure>
        
        <figure>
            <img src="img/panda6.jpeg" alt="Projet 6">
            <figcaption>Projet 6 <button>Afficher les détails</button></figcaption>
        </figure>

        <!--Modal-->

        <section id="modal">
            <article>
                <h2> Titre du projet <i class="fa fa-times"></i></h2>
                <img src="img/panda1.jpg" alt="Projet 1">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis consectetur quas fuga perspiciatis odio magnam ad alias vitae, incidunt dolore ipsam impedit! Dolore veniam blanditiis, nobis modi accusantium porro odit.</p>
            </article>

        </section>
        
        
                
    </body>
</html>