@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700');

/*
Style Reset
*/

    *{
        padding: 0;
        margin: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    html{
        font-size: 62.5%;
    }

    body{
        font-size: 1.5rem;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        text-align: center;
    }

    h1{
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 3rem;
        padding-bottom: 2rem;
    }

    h1 span{
        font-family:'Raleway', sans-serif;
        display: block;
        font-size: .5em;
    }

    
    h2{
        font-family:'Open Sans', sans-serif;
        font-weight: 400; 
        margin-bottom: 2rem;
        color:#378083;
    }


    a, header li{
        text-decoration: none;

        /* Toute les balises a ont une transition du coup je l'applique dans le header */

        transition: all .5s;
    }

    ul{
        /* Supprimer les puces */
        list-style: none;
    }

    img{
        max-width: 100%;
    }


/*
Style header
*/

    header{
        background: #378083;
        color: #cdd7d7;
        padding: 2rem;
        /* Bloquer les enfants dans le parent*/
        position: relative;
    }

    nav{
        display: none;
    }

    .aboutPage nav{
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        width: 20rem;
        padding: 2rem;
        z-index: 100;
        display: block;

        background: #115255;
    }
  

    header > a{
        /* La balise A qui est enfant direct du header*/
    background: white;
    color: #378083;
    width: 3.5rem;
    height: 3.5rem;
    display: inline-block;
    /* Arrondire les bords du burger Menu*/
    -webkit-border-radius: 50%;
    border-radius: 50%;

    /* Placer le burger menu au centre du rond blanc*/
    padding-top: .7rem;

    /* Positionner précisement la balise */
    position: absolute;

    left: 50%;
    top: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    /* Créer une bordure*/
    border: .1rem solid #378083;

    /* Augmenter la taille du burger*/
    font-size: 1.8rem;
    }


    header li{
        background: rgba(255, 255, 255, .5);
        padding: .5rem;
        margin-bottom: 1rem;
    }

    nav a{
        color: white;
    }

    /* Changement de couleur des balises au survol de la souris */
     header li:hover{
         background: white;
     }

     
     nav li:hover a{ 
         /* si on ne selectionne que nav a:hover, le texte ne changera de couleur uniquement si on passe précisement le souris sur les balises a,car si on passe sur les balises li de fond coloré, les balises a étant en blanc, elles ne sont pas visible */
        color: #378083;
        font-weight: 700;
    }

    header > a:hover{
        color: #cdd7d7;
        background: #378083;
        border-color: #cdd7d7;
    }
    
/*
Style main
*/

    main{
        padding: 4rem 2rem 10rem 2rem;
    }    

    body .aboutPage{
        -webkit-filter: blur(.2rem);
        filter: blur(.2rem);
    }

     .aboutPage{
        -webkit-filter: blur(0);
        filter: blur(0);
    }


    /*article a{
        display: none;
    }*/

/*
Style About 
*/
    [src="img/profil.jpg"]{
        
        width: 17rem;
        margin-bottom: 2rem;

        -webkit-border-radius: 50%;
        border-radius: 50%;
        
        -webkit-box-shadow: 0 0 1rem rgb(58, 89, 90);
        -moz-box-shadow: 0 0 1rem rgb(58, 89, 90);
        box-shadow: 0 0 1rem rgb(58, 89, 90);     
    }

    [src="img/profil.jpg"]+p{
        margin-bottom: 2rem;
    }

    /*La balise ul qui est placée juste après la balise h3 */
    h3 + ul{
        text-align: left;
        margin: 2rem auto;
    }

    /* Toutes les balises li qui suivent une balise h3*/
    h3 + ul li{
        background: white;
        margin-bottom: 1rem;    

        border: .1rem solid #0a6468;

        position: relative;
    }

    h3 + ul p{
        background: #0a6468;
        padding: 1rem;
        min-height: 3.5rem;

        /* Pour l'animation */
        width: 0;
    }

     h3 + ul span{
        position: absolute;
     }

    

/* Style Portfolio */

    figure{
        position: relative;
    }

    figcaption{
        position: absolute;
        background: rgba(255, 255, 255, .9);
        padding: 1rem 4rem;
        top: 50%;
        left: 50%;

        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        -webkit-border-top-left-radius: 1rem;
        border-top-left-radius: 1rem;
    }

    figcaption button{
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        border: 0;
        padding: 1rem;

        -webkit-border-bottom-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    #modal{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        z-index: 2000;

        background: rgba(10, 100, 104, 0.8);
        color: #115255;

        /*Pour l'animation */
        display: none;
    }

    #modal article{
        background: white;
        width: 35rem;
        text-align: left;
        margin: 5rem auto;
        padding: 2rem;

    }
    

    /*Style contact*/



/*
Style footer
*/

    footer{
        background: #378083;
        color: #cdd7d7; /* Uniquement pour changer la couleur li */
        padding: 1rem;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;

        z-index: 1000;
    }

    footer a{
        color: #cdd7d7;
    }

    footer li:not(:last-child){
        display: inline-block;
        margin-bottom: 1rem;
        padding-left: 2rem;
        font-size: 2rem;
    }


/*
Responsive Design
*/

    /* Ecran d'un taille minimal de 400px*/
    @media screen and (min-width:400px){
        .portfolioPage article{
            display: inline-block;
            width: 49%; /* c'est ceci qui me permet de créer deux colonnes*/
            padding: 0 1rem 0 0;
        }

        /*Sélectionner toutes les 2 balise à partir de la 2ème */
        .portfolioPage article:nth-child(2n+2){
            padding: 0 0 0 1rem;
        }
    }




    /* Ecran d'une taille minimal de 750pc */

    @media screen and (min-width:750px){
        /*Style reset*/
            main, h1, nav{
                max-width: 85rem;
                margin: auto;
            }

            h1 span{
                display: initial;
            }

            h1{
                font-size: 4rem;
            }

        /*Style header*/
            header{
                text-align: left;
                text-indent: 1rem;
            }

            /*Masquer le burger*/
            header>a{
                display: none;
            }

            /* Faire réapparaitre la nav*/
            nav{
                display: block;
                text-indent: 0;
            }

            /* Aligner les item de la nav */
            nav li{
                display: inline-block;
            }
     }

    








    