<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Home</title>

    </head>

    <body>

        <h2>Titre de la section Portfolio</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, adipisci omnis, non atque quibusdam eum cupiditate, perferendis est sed reprehenderit pariatur eos autem porro, voluptates! Officia eligendi ab aperiam libero.</p>

        <h2>Titre de la section Portfolio</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, adipisci omnis, non atque quibusdam eum cupiditate, perferendis est sed reprehenderit pariatur eos autem porro, voluptates! Officia eligendi ab aperiam libero.</p>

      

        <footer>Under MIT Licence</footer>
        
    </body>
</html>