/*
Style reset
*/
    /*Sélectionner TOUTES les balises du DOM*/
    *{
        /*Supprimer toutes les marges intérieur*/
        padding: 0;
        /*Supprimer les marges extérieures*/
        margin: 0;
    }

    /*Ramener la valeur de 1 rem à 10px*/
        html{
            font-size: 62.5%;
        }

        body{
            /* 1.5 = 15 px */
            font-size: 1.5rem; 
        }


    
    /*Créer un espace entre les différents bloc de la page*/
        section {
            margin-bottom: 4rem;
            }

        h1{
            /* 3 x la taille de HTML */
            font-size: 5rem;
        }

        /*la taille de la font soit toujours 2 fois plus petit que son parent direct*/
        h1 b{
            font-size: .5em;
        }




/*
Style header
*/

            header{
                /*Ajouter une bordure de 1px rouge*/
                border: .5rem solid red;
                /*Ajouter une marge à l'intérieur de la balise*/
                padding: 2rem;
                /*Ajouter à l'exterieur de la balise*/
                margin: 2rem;
                }  

          /*Modifier le style des balises li*/
            li{
            display: inline-block; 
            }



/*
Style largeur site 
*/

      /*Limiter la largeur de header, main et footer à 950px */
        header, main, footer{
            max-width: 85rem;

            /*centrer une balise de type block réduite en largeur*/
            margin: 2rem auto;
        }




/*
Mise en forme typographique
*/

    .presentation{
        /*Modifier la famille de caractères de la font (la prioirité de choix est montrer par les guillemets)*/
        font-family: "Arial", sans-serif;     
        /*Modifier la taille de la font*/
        font-size: 1.7rem;
        /*Modifier l'interlignage (espace entre les lignes) il faut le mettre en EM comme ca il se modifiras dès que je change la taille du texte*/
        line-height: 1.2em;
        /*Modifier la graisse (l'épaisseur) de la font*/
        font-weight: bold;
        /*Ajouter une ombre portée à la font*/
        text-shadow: .5rem .5rem .5em blue;
        /*Modifier la casse de la font (minusclul /majuscule/ etc*/
        text-transform: uppercase;
        /*Modifier le style de la font en italique,*/
        font-style: italic;
        /*Modifier la décoration de la font*/
        text-decoration: underline;
        /*Modifier la couleur de la font*/
        color: grey;

        padding: 2rem;
        background-color: lightpink;
        margin: 4rem auto;
        }

/*
Utilisation des couleurs
*/
        #portfolio{

            background-color: #7a9ed2; /*Référence hexadecimal de la couleur prit sur chrome grace a la pipette en cliquant sur le carré de couleur*/
            color: white;
           
            text-align: center; /*Agit sur les texte et sur les balises inline*/
        }

        #portfolio article{
            background-color:rgba(31, 82, 117, 0.5); /* Pour modifier l'oppacité du fond, il faut aller dans RGBA, qu'on trouve avec les flèches dans la palette de couleur Hexa*/

            padding: 2em;
            margin: 1rem;
            /*Faire en sorte d'afficher les 3 articles sur 3 colonnes*/
            display: inline-block;
        }

        /*Sauvegarde des pages CSS*/