/* Importer un fichier CSS*/
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

@import url('https://fonts.googleapis.com/css?family=Lemonada:400,700|Oxygen:400,700');


/*
Style Reset
*/

    /* Supprimer toutes les marges */
    *{
        margin: 0;
        padding: 0;
    }

    /* Faire en sorte que 1rem soit égal à 10 px */
    html{
        font-size: 62.5%;
    }
    
    body{
        /*Mettre à bonne échelle le texte c-a-d env 15px c bien*/
        font-size: 1.5rem;
        /*Changer la police de caractères*/
        font-family: 'Oxygen', sans-serif;
    }

    h1, h2, h3{
        font-family: 'Lemonada', cursive;
        font-weight: 400;
    }
    a{
        text-decoration: none;
    }

    /*Faire en sorte que les images ne dépassent pas leur parent (body)*/
    img{
        max-width: 100%;
    }

    /*Appliquer la même marge à toutes les sections*/
    section{
        padding: 6rem 0;
    }

    h2{
        font-size: 4rem;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 3rem;
    }

    h3{
        text-transform: uppercase;
        color: white;
        margin-bottom: 3rem;
        font-size: 2.5rem;
    }

/*
Style largeur maximum
*/

    nav ul, 
    main section:first-child,
    main section:nth-child(2) p,
    main section:last-child,
    footer section{
        /* Définir une largeur maximum*/
        max-width: 95rem;

        /* Centrer la balise de type block dans son parent*/
        margin: auto;
    }





/*
Style header
*/

    header{
        /*Aligner le texte au centre*/
        text-align: center;

        /*Modifier la couleur du texte*/
        color: white;

        /*Ajouter une couleur de fond*/
        background-color: #18bc9c;
        /* Ajouter une marge intérieur en bas de 30px*/
        padding-bottom: 6rem;
        }

        nav{
            /*Mettre le texte en majuscule*/
            text-transform: uppercase;
            /*Mettre la couleur de fond*/
            background: #2c3e50;
            text-align: right;
            /* Ajouter une marge intérieur de 30 px*/
            padding: 3rem;
            /*Ajouter une marge ext. bas de 30 px*/
            margin-bottom: 6rem;
             }






             /* Position */

        nav ul{
            /* Bloquer les enfants dans leurs parents*/
            position: relative;
        }

        nav li:first-child{
            /*Sortir la balise du flux pour la repositionner précisément*/
            position: absolute;
            /* Placer la balise à gauche*/
            left: 0;
            /* Modifier la taille de la font*/
            font-size: 1.5em;
        }





        nav a{
            /*Modifier la couleur du texte*/
            color: white;

            /*Passer le texte en gras*/
            font-weight: bold;
            
            }

        /*Aligner les balises ligne*/
        li{
            display: inline-block;
            margin-right: 1rem;
            }

        h1{
            /*Mettre le texte en majuscule*/
            text-transform: uppercase;
            /*Augmenter la taille du texte en 50px*/
            font-size: 5rem;
            /* Ajouter une marge intérieur en haut de 30px */
            padding-top: 3rem;
            }

        header p{
            /*Augmenter la taille de la font 20px*/
            font-size: 2rem;
        }

/*
 /* Style portfolio */

 
   main section:first-child article{
        /* Mettre une marge exterieur de 10px */
        margin: 1rem;

        /* Créer trois colonnes */
        display: inline-block;
        width: 29%;

        /* Bloquer les enfants dans leurs parents*/
        position: relative;
    }


    main section:first-child a{
         font-size: 8rem;
         background: rgba(24, 188, 156, .7);
         color: white;
         /* Sortir les balises Loupe pour pouvoir les supperposer sur les images*/
         position: absolute;
         /*Placer les balises en haut à gauche*/
         top: 0;
         left: 0;
         /* Faire en sorte que les balises soit à 100% de la taille de leurs parents*/
         width: 100%;
         height: 100%;
           /* Réduire l'opacité de la balise, pour qu'elle ne soit visible que lorqu'on passe dessus ensuite*/
         opacity: 0;

         /* Gérer une transition entre les états de la balise*/
         -webkit-transition: all .5s;
         transition: all .5s;
         }

         /*Rendre visible en passant la souris dessus*/
    main section:first-child a:hover{
             opacity: 1;
         }

       /* Centrer tout les éléments dans la page*/
   main section:first-child{
        text-align: center;
         }
  

/* Style About Me*/

       main section:nth-child(2){
            color: white;
            background: #18bc9c;
            text-align: center;
        }

       main section:nth-child(2) p{
            /* Afficher le texte en deux colonnes*/
        webkit-column-count: 2; /* Chrome, Safari, Opera */
         moz-column-count: 2; /* Firefox */
         column-count: 2;

         /* Justifier le texte (coller au bord*/
         text-align: justify;

         margin-bottom: 4rem;
        }

       main section:nth-child(2) a{
            color: white;
            border: .3rem solid white;
            padding: 1rem 1.5rem;
            font-weight: bold;

            /* Créer un bord arrondi*/
            webkit-border-radius:1rem; /* Chrome, Safari, Opera */
            moz-border-radius: 1rem; /* Firefox */
            border-radius: 1rem;
        }

/* Style Contact Me*/

    input, textarea{
        display: block;
        width: 90%;
        margin: 1rem auto;
        padding: 1rem;
        font-size: 2rem;
        /* Annuler le style du navigateur*/
        border: none;
        /* Redéfinir le style comme on le veut*/
        border-bottom: .1rem solid grey
    }

    textarea{
        /* Définir une hauteur minimum pour le bloc texte du formulaire*/
        min-height: 20rem,
    }

    /*Sélectionner une balise grâce à son attribut et sa valeur */
        /* Modifier le bouton "send"*/

    [type="submit"]{
        width: 10rem;
        display: inline-block;
        background: #18bc9c;
        color: white;
        font-weight: bold;
        border-radius: 1rem;
        margin-left: 3rem;
    }
    


/*
Style Footer
*/

    footer{
        color: white;
        text-align: center;
        background: #2c3e50;
     }

     footer article{
         display: inline-block;
         width: 29%;
         vertical-align: top;
     }

    /* Deux techniques pour changer la couleur du lien*/
     footer p a{
         color: #18bc9c;
     }

    /*ou*/

    [href="http//:google.fr"]{
        color: #18bc9c;
    }

    aside{
        padding: 1.5rem;
        background: #233140;
    }





